@using PWABlog.ViewModels.Admin
@model PWABlog.ViewModels.Admin.AdminPainelViewModel

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Painel Administrativo</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>

    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Autores</th>
                    <th>Categorias</th>
                    <th>Etiquetas</th>
                    <th>Postagens</th>
                </tr>
            </thead>

            <tbody>
                @foreach (PainelAdminPainel postagens in @Model.Postagens)
                {
                <tr>
                    <td>@postagens.NomeAutor.Count()</td>
                    <td>@postagens.NomeCategoria.Count()</td>
                    <td>@postagens.NomeEtiqueta.Count()</td>
                    <td>@postagens.NomePostagem.Count()</td>>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
